In [1]:
import pandas as pd
import numpy as np

In [2]:
employee = pd.read_csv('C://Users/mkrijal/Desktop/ML_self_exercises/MFG10YearTerminationData.csv')
employee.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1954-01-03,1989-08-28,1900-01-01,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1954-01-03,1989-08-28,1900-01-01,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1954-01-03,1989-08-28,1900-01-01,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1954-01-03,1989-08-28,1900-01-01,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1954-01-03,1989-08-28,1900-01-01,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [3]:
#Total column
employee.shape[1]

18

In [4]:
#Total roews
employee.shape[0]

49653

In [6]:
#list of column
list(employee)

['EmployeeID',
 'recorddate_key',
 'birthdate_key',
 'orighiredate_key',
 'terminationdate_key',
 'age',
 'length_of_service',
 'city_name',
 'department_name',
 'job_title',
 'store_name',
 'gender_short',
 'gender_full',
 'termreason_desc',
 'termtype_desc',
 'STATUS_YEAR',
 'STATUS',
 'BUSINESS_UNIT']

In [7]:
#Last ten rows
employee.tail(10)

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49643,6863,9/1/2013 0:00,1983-09-07,2007-12-21,2013-09-07,30,5,Williams Lake,Processed Foods,Shelf Stocker,40,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49644,5475,5/1/2012 0:00,1972-08-01,2002-02-08,2012-05-07,39,10,Williams Lake,Bakery,Baker,40,M,Male,Resignaton,Voluntary,2012,TERMINATED,STORES
49645,8013,1/1/2014 0:00,1992-05-26,2012-07-28,2014-01-28,21,1,Williams Lake,Customer Service,Cashier,40,M,Male,Resignaton,Voluntary,2014,TERMINATED,STORES
49646,7265,2/1/2011 0:00,1986-10-04,2009-08-05,2011-02-05,24,1,Williams Lake,Customer Service,Cashier,40,M,Male,Resignaton,Voluntary,2011,TERMINATED,STORES
49647,8183,10/1/2014 0:00,1993-10-02,2013-04-15,2014-10-15,21,1,Williams Lake,Customer Service,Cashier,40,F,Female,Resignaton,Voluntary,2014,TERMINATED,STORES
49648,7560,7/1/2013 0:00,1988-12-26,2010-10-08,2013-07-18,24,2,Williams Lake,Customer Service,Cashier,40,M,Male,Resignaton,Voluntary,2013,TERMINATED,STORES
49649,1483,11/1/2014 0:00,1949-11-22,1990-02-15,2014-11-22,65,24,Williams Lake,Meats,Meats Manager,40,F,Female,Retirement,Voluntary,2014,TERMINATED,STORES
49650,4619,7/1/2012 0:00,1947-07-01,1999-01-06,2012-07-01,65,13,Williams Lake,Produce,Produce Clerk,40,F,Female,Retirement,Voluntary,2012,TERMINATED,STORES
49651,4382,2/1/2013 0:00,1965-06-25,1998-05-11,2013-02-16,47,14,Williams Lake,Produce,Produce Clerk,40,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,2756,4/1/2007 0:00,1942-04-30,1993-11-05,2007-04-30,65,13,Williams Lake,Meats,Meat Cutter,40,F,Female,Retirement,Voluntary,2007,TERMINATED,STORES

In [20]:
#Type of column
employee.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

In [36]:
#List out Total employee based on city name
employee.groupby('city_name').size()

city_name
Abbotsford            681
Aldergrove            520
Bella Bella           126
Blue River              9
Burnaby              2067
Chilliwack           1167
Cortes Island          43
Cranbrook            1785
Dawson Creek          129
Dease Lake             18
Fort Nelson           322
Fort St John          621
Grand Forks           236
Haney                 182
Kamloops             2061
Kelowna              2513
Langley               901
Nanaimo              3876
Nelson                317
New Westminister      254
New Westminster      3211
North Vancouver       648
Ocean Falls            65
Pitt Meadows           57
Port Coquitlam        545
Prince George        2048
Princeton             136
Quesnel               703
Richmond             1401
Squamish              806
Surrey               1560
Terrace              1228
Trail                 925
Valemount              37
Vancouver           11211
Vernon                898
Victoria             4885
West Vancouver        613
White Rock            231
Williams Lake         617
dtype: int64

In [34]:
#Select Victoria city group
victoria = employee[employee['city_name']=='Victoria'] 
victoria.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
157,1343,12/31/2006 0:00,1949-02-24,1989-09-25,2014-02-24,57,17,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2006,ACTIVE,STORES
158,1343,12/31/2007 0:00,1949-02-24,1989-09-25,2014-02-24,58,18,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2007,ACTIVE,STORES
159,1343,12/31/2008 0:00,1949-02-24,1989-09-25,2014-02-24,59,19,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2008,ACTIVE,STORES
160,1343,12/31/2009 0:00,1949-02-24,1989-09-25,2014-02-24,60,20,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2009,ACTIVE,STORES
161,1343,12/31/2010 0:00,1949-02-24,1989-09-25,2014-02-24,61,21,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2010,ACTIVE,STORES

In [35]:
len(victoria)

4885

In [38]:
termination = victoria[['age', 'length_of_service', 'job_title', 'termreason_desc','STATUS']]
termination.head()

     age  length_of_service      job_title termreason_desc  STATUS
157   57                 17  Store Manager      Retirement  ACTIVE
158   58                 18  Store Manager      Retirement  ACTIVE
159   59                 19  Store Manager      Retirement  ACTIVE
160   60                 20  Store Manager      Retirement  ACTIVE
161   61                 21  Store Manager      Retirement  ACTIVE

In [39]:
termination.groupby('job_title').size()

job_title
Baker                        658
Bakery Manager                13
Cashier                      606
Customer Service Manager      18
Dairy Person                 832
Meat Cutter                 1352
Meats Manager                  8
Processed Foods Manager       13
Produce Clerk               1049
Produce Manager                8
Shelf Stocker                315
Store Manager                 13
dtype: int64

In [40]:
termination.groupby('termreason_desc').size()

termreason_desc
Layoff              90
Not Applicable    4148
Resignaton         231
Retirement         416
dtype: int64

In [43]:
termination['age'].groupby([termination['job_title'], termination['termreason_desc']]).mean()

job_title                 termreason_desc
Baker                     Not Applicable     38.100000
                          Resignaton         28.250000
Bakery Manager            Retirement         60.230769
Cashier                   Not Applicable     38.630975
                          Resignaton         22.192771
Customer Service Manager  Retirement         61.000000
Dairy Person              Not Applicable     32.676190
                          Resignaton         26.833333
                          Retirement         60.230769
Meat Cutter               Layoff             59.500000
                          Not Applicable     50.571429
                          Resignaton         53.444444
                          Retirement         61.604839
Meats Manager             Retirement         58.500000
Processed Foods Manager   Retirement         60.230769
Produce Clerk             Not Applicable     42.680723
                          Resignaton         39.615385
                          Retirement         61.504854
Produce Manager           Retirement         58.500000
Shelf Stocker             Not Applicable     35.572414
                          Resignaton         23.720000
Store Manager             Retirement         60.230769
Name: age, dtype: float64

In [44]:
#function min and max
def get_stats(group):
    return {'min': group.min(), 'max': group.max()}

In [46]:
#group by occupation
termination['age'].groupby([termination['job_title'], termination['termreason_desc']]).apply(get_stats)

job_title                 termreason_desc
Baker                     Not Applicable   max    56
                                           min    25
                          Resignaton       max    32
                                           min    25
Bakery Manager            Retirement       max    65
                                           min    57
Cashier                   Not Applicable   max    51
                                           min    19
                          Resignaton       max    41
                                           min    19
Customer Service Manager  Retirement       max    65
                                           min    57
Dairy Person              Not Applicable   max    53
                                           min    23
                          Resignaton       max    30
                                           min    23
                          Retirement       max    65
                                           min    57
Meat Cutter               Layoff           max    64
                                           min    55
                          Not Applicable   max    64
                                           min    35
                          Resignaton       max    58
                                           min    49
                          Retirement       max    65
                                           min    56
Meats Manager             Retirement       max    60
                                           min    57
Processed Foods Manager   Retirement       max    65
                                           min    57
Produce Clerk             Not Applicable   max    58
                                           min    30
                          Resignaton       max    50
                                           min    31
                          Retirement       max    65
                                           min    58
Produce Manager           Retirement       max    60
                                           min    57
Shelf Stocker             Not Applicable   max    52
                                           min    21
                          Resignaton       max    27
                                           min    21
Store Manager             Retirement       max    65
                                           min    57
Name: age, dtype: int64

In [47]:
termination.groupby('STATUS').size()

STATUS
ACTIVE        4734
TERMINATED     151
dtype: int64